
body{
    padding: 20px;
}

a{
    color: rgba(0, 0, 0, 0.605);
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: 2px underline #FC7987;
}

.flex{
    display: flex;
}

.clmn{
    flex-direction: column;
}

.center{
    align-items: center;
}

.g-30{
    gap: 30px;
}

.overflow{
    overflow:scroll;
    height: 550px;
}

.border{
    border-bottom: 2px dashed;
}

.s-b{
    justify-content: space-between;
}

.w-300{
    width: 300px;
}

button{
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background: #242121 ;
    color: rgba(255, 255, 255, 0.689);
    border: 3px solid #FC7987;
}

.mb-10{
    margin-bottom: 10px;
}

button:hover{
    color: white;
    text-decoration: underline #FC7987;
    cursor: pointer;
}

input{
    height: 20px;
}

form div {
    align-items: center;
}

@media (max-width: 768px){
    .tel{
        flex-direction: column;
    }
}